@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("../fonts/RadomirTinkov-Gilroy-ExtraBold.otf") format("otf"); }

@font-face {
  font-family: "Gilroy-Light";
  src: url("../fonts/RadomirTinkov-Gilroy-Light.otf") format("otf"); }
